@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../font/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #08FFDD;
    --cor1: #07C9E8;
    --cor2: #15A3FF;
    --cor3: #0753E8;
    --cor4: #081AFF;
    --cor5: #061148;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

fieldset {
    border: 0;
}

body {
    background-color: var(--cor0);
    font-family: var(--font-padrao);
    justify-content: center;
}

input, select, textarea, button {
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: var(--cor2);
    display: block;
}

fieldset.group .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid var(--cor5);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
}

.button {
    font-size: 1.2em;
    background: var(--cor1);
    border: 0;
    margin-bottom: 1em;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 111%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transition-duration: 0.2s;
}

.button:hover {
    background: var(--cor0);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 100px;
    text-align: center;
    padding: 20px;
}

header > h1 {
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
    font-weight: normal;
}

header > p {
    color: white;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .3s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 5px;
}

main {
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.501);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--font-destaque);
    font-weight: normal;
    font-size: 2.5em;
    text-align: center;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main p {
    margin: 13px 0px;
    text-align: justify;
    text-align: center;
    line-height: 2em;
    font-size: 1em;
}

footer {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor5));
    color: white;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: .8em;
    padding: 5px;
}

footer h3 {
    padding: 5px;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.33);
}

footer p.myinformations {
    padding: 10px;
    font-size: 16px;
}

footer p.site-made {
    padding-top: 15px;
    font-weight: bold;
    text-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.275);
}

footer ul li {
    font-size: 15px;
    font-family: var(--font-padrao);
    padding: 3px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition-duration: 0.2s;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor3);
    background-color: var(--cor5);
    padding: 4px;
    border-radius: 4px;
}